<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="google-site-verification" content="Q_mDhcVGp1FmTMpVjo7QFOSTG_TfEbM4RV5tzf60bQA" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Yoann Saunier | Full Stack Web Developer"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body id="top" class="animated fadeIn">
  {{ content }}
  <button class="back-to-top waves-effect" type="button">
    <i class="fas fa-chevron-up"></i>
  </button>
  <script src="assets/js/application.min.js"></script>
</body>
</html>
